{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Ingrese una nueva contraseña{% endblock %}

{% block content %}

{% if validlink %}

<h1>Ingrese una nueva contraseña!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>El link utilizado para reestablecer su contraseña no es válido, posiblemente porque ya este expiró. Por favor solicite un nuevo enlace.</p>

{% endif %}
{% endblock %}