<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Barbería y Estética BMW{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Barbería BMW</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Cerrar Sesión</a>
      {% else %}
        <a href="{% url 'login' %}">Iniciar Sesión</a> / <a href="{% url 'signup' %}">Registrarse</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>