{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block title %}Barbería BMW{% endblock %}

{% block content %}
<h1>Barbería BMW</h1>
{% if user.is_authenticated %}
  Hola {{ user.username }}!
  <p><a href="{% url 'logout' %}">Salir</a></p>
  <p><a href="{% url 'password_reset' %}">Reiniciar contraseña</a></p>
{% else %}
  <p>Bienvenido. Por favor inicie sesión.</p>
  <a href="{% url 'login' %}">Iniciar sesión</a>
  <p class="text-center">¿Aún no posee una cuenta? <a href="/accounts/signup">Regístrese aquí</a>.</p>
{% endif %}
  
{% endblock %}