{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}      
{% load crispy_forms_tags %}

    <div class="container">
        <h1>Usuarios</h1>
        {% if object_pk and object_name %}
        <h2>Esta es la página de {{object_name}} con pk: {{object_pk}}, edad: {{object_age}}</h2>
        {% else %}
        <h2>Lista de usuarios:</h2>
        {% for name, values in users_dict.items %}
        <a href="{% url 'show' values.pk%}">
            <h3>
                {{name}} con pk: {{values.pk}}, edad: {{values.age}}
            </h3>
        </a>

        {% endfor %}
        {% endif %}

    </div>
{% endblock %}


